<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="navbar-brand">
            <img routerLink="/home" src="../../assets/brand.png" alt="Logo" height="50px" width="200px">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="nav-link" routerLink="/home">Home</p>
                </li>
                <li class="nav-item" style="float: right">
                    <p class="nav-link" routerLink="/contact">Contact</p>
                </li>
                <li class="nav-item" style="float: right;">
                    <p class="nav-link" routerLink="/search">Search</p>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row first-container">
        <div class="col-md-12">
            <div class="image-container">
                <div class="container">
                    <div class="image-text">
                        <h1 id="first-header">Make the World Transparent</h1>
                        <h4 id="first-subheader">People increasingly mistrust companies, technologies, and each other. We want to leverage data to make the world around us more transparent—making trust a little easier.</h4>
                        <button type="button" routerLink="/search" class="btn try-button">Try a quick search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row second-container">
        <div class="col-md-12 inner-container d-flex justify-content-center">
            <h1 id="second-header">Start With Search</h1>
        </div>
        <div class="col-md-12 inner-container d-flex justify-content-center">
            <h4 id="second-subheader">Searchiato is a people intelligence service that helps you search, connect, and know who you are dealing with. You can use it to find old friends, identify unknown callers, or research your date. Professionals use it to find new customers
                or to prevent fraud. Knowledge is a quick search away.</h4>
        </div>
    </div>
    <!-- <hr style="border-top: 1px solid #8c8b8b; width: 50%;" /> -->

    <div class="row third-container">
        <div class="col-md-6">
            <div class="third-inner">
                <div class="content">
                    <h3 id="our-data">Our Data</h3>
                    <h2 id="know-more">Know More</h2>
                    <h3 id="third-subheader">We organize over 12 billion records from thousands of data sources into easy-to-understand reports that include available contact info, location history, photos, social media accounts, family members, court records, work information,
                        and much more.* We help you know more, assisting your internal compass to point true north.</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-image">
                <img src="../../assets/about-image1.jpg" class="img-thumbnail" />
            </div>
        </div>
    </div>

    <div class="footer d-flex justify-content-center">
        <div class="footer-text d-flex justify-content-center">
            © Copyright Searchiato. All Rights Reserved
        </div>
    </div>
</body>