<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="background: #3c5afd;">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <li routerLink="/home" style=" font-size: 20px;">Home</li>
                            <li routerLink="/about" style=" font-size: 20px;">About</li>
                            <li routerLink="/search" style=" font-size: 20px;">Search</li>
                            <li routerLink="/contact" style=" font-size: 20px;">Contact</li>
                        </ul>
                    </div>
                </nav>
                <div class="d-flex justify-content-center h-100">
                    <div class="signup_card">
                        <div class="d-flex justify-content-center">
                            <div class="header_container">
                                <h1 style="color: white; margin-bottom: 70px; font-size: 50px;">Hello, friend!</h1>
                                <h1 style="color: white; margin-bottom: 60px;">Enter your personal details and start your journey.</h1>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="button" routerLink="/login" class="btn signup_btn">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="d-flex justify-content-center h-100">
                    <div class="form_card">
                        <div class="d-flex justify-content-center">
                            <div class="header_container">
                                <h1 id="header">Create Account</h1>
                            </div>
                        </div>

                        <form class="loginForm" [formGroup]="signupForm">
                            <div class="input-group mb-3">
                                <mat-form-field class="formField">
                                    <mat-label style="font-size: 18px;">Name</mat-label>
                                    <input matInput type="text" formControlName="name" placeholder="Enter name">
                                    <mat-error *ngIf="signupForm.controls.name.hasError('minLength') && !signupForm.controls.name.hasError('required')">
                                        Name cannot be less than 4 characters
                                    </mat-error>
                                    <mat-error *ngIf="signupForm.controls.name.hasError('required')">
                                        Name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="input-group mb-3">
                                <mat-form-field class="formField">
                                    <mat-label style="font-size: 18px;">Email</mat-label>
                                    <input matInput type="email" formControlName="email" placeholder="Enter email address">
                                    <mat-error *ngIf="signupForm.controls.email.hasError('email') && !signupForm.controls.email.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="signupForm.controls.email.hasError('required')">
                                        Email is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="input-group mb-3">
                                <mat-form-field class="formField">
                                    <mat-label style="font-size: 18px;">Password</mat-label>
                                    <input matInput type="password" formControlName="password" placeholder="Enter password">
                                    <mat-error *ngIf="signupForm.controls.password.hasError('minLength') && !signupForm.controls.password.hasError('required')">
                                        Please enter a valid password
                                    </mat-error>
                                    <mat-error *ngIf="signupForm.controls.password.hasError('required')">
                                        Password is required
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="submit" (click)="signup()" [disabled]="signupForm.invalid" class="btn login_btn">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer d-flex justify-content-center">
        <div class="footer-text d-flex justify-content-center">
            © Copyright Searchiato. All Rights Reserved
        </div>
    </div>

</body>
<ngx-spinner bdColor="rgb(60,90,253)" size="medium" color="#ffffff" type="square-spin" [fullScreen]="true">
    <p style="color: #ffffff"> Loading... </p>
</ngx-spinner>