<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="navbar-brand">
            <img routerLink="/home" src="../../assets/brand.png" alt="Logo" height="50px" width="200px" />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="nav-link" routerLink="/home">Home</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" routerLink="/about">About</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" routerLink="/search">Search</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" (click)="logout()" routerLink="/login">
                        Sign Out
                    </p>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="search_container">
                    <form [formGroup]="searchForm">
                        <mat-card>
                            <mat-form-field class="px-3">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option *ngFor="let item of options" [value]="item.value">
                                        {{ item.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="px-3">
                                <mat-label>Search</mat-label>
                                <input formControlName="query" matInput placeholder="Search with a name or email" />
                            </mat-form-field>

                            <button (click)="search()" [disabled]="searchForm.invalid" type="submit" class="justify-content-center" mat-mini-fab color="primary">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-card>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4 card-container">
        <div class="row justify-content-center">
            <div *ngIf="firstCard" class="col-md-6 justify-content-center">
                <mat-card *ngFor="let f of firstCard; let i = index" class="text-card">
                    <mat-card-title>
                        <img class="text-left" id="icon" src="../../assets/card.svg" height="40px" width="40px" />
                        <span class="text-center px-3">{{ f.data.name }}</span>
                    </mat-card-title>
                    <mat-card-subtitle>Name and phone number</mat-card-subtitle>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Click to view details
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{ f.data.email }}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>
            </div>
            <div class="col-md-6 justify-content-center">
                <div class="search-image text-center pt-0 mt-0">
                    <img class="img-fluid" alt="searchiato-search-page-image" src="../../assets/search-page.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer d-flex justify-content-center">
        <div class="footer-text d-flex justify-content-center">
            © Copyright Searchiato. All Rights Reserved
        </div>
    </div>
</body>